---
import Layout from '../../layouts/Layout.astro';
import { Content as Legal } from '../../content/legal/cms.md';
---
<Layout title='Privacy Policy'>
  <div class="p-6 text-foreground-bright opacity-90">
    <Legal />
  </div>
</Layout>