---
import Counter from "../components/Counter.svelte";
import MemberCard from "../components/MemberCard.astro";
import YearIndicator from "../components/YearIndicator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-screen bg-background">
    <Counter client:visible />
    <div class="flex space-x-8 p-8">
      <MemberCard
        href="/test"
        name="Soumitra Shewale"
        title="Secretary"
        highlightedBadges={["2021"]}
        badges={["web dev", "automation"]}
        imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
      />
      <MemberCard
        href="/test"
        name="Dharanikanth Reddy Yerasi"
        title="Member"
        highlightedBadges={["2021"]}
        badges={["web dev", "automation"]}
        imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
      />
    </div>
    <div class="flex px-8">
      <YearIndicator year="2021" />
    </div>
  </main>
</Layout>
