---
import GithubIcon from "../../public/github.svg?raw";
import InstagramIcon from "../../public/instagram.svg?raw";
import Counter from "../components/Counter.svelte";
import HomeCard from "../components/HomeCard.astro";
import MemberCard from "../components/MemberCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="h-fit bg-background">
    <Counter client:visible />
    <div class="flex space-x-8 p-8">
      <MemberCard
        href="/test"
        name="Soumitra Shewale"
        title="Secretary"
        highlightedBadges={["2021"]}
        badges={["web dev", "automation"]}
        imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
      />
      <MemberCard
        href="/test"
        name="Dharanikanth Reddy Yerasi"
        title="Member"
        highlightedBadges={["2021"]}
        badges={["web dev", "automation"]}
        imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
      />
    </div>
    <div>
      <HomeCard
        imageURL="https://dummyimage.com/16:10x1200"
        icons={[
          { svg: GithubIcon, href: "https://github.com/crux-bphc" },
          { svg: InstagramIcon, href: "https://www.instagram.com/cruxbphc/" },
        ]}
      />
    </div>
  </main>
</Layout>
