---
import MemberCard from "../components/MemberCard.astro";
import MemberCardTabs from "../components/MemberCardTabs.svelte";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CRUx BPHC - Members">
  <main id="main" class="relative bg-background pb-28">
    <Navbar />
    <div class="flex w-full flex-col items-center lg:pt-12 xl:pt-16">
      <MemberCardTabs client:visible>
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="members"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Soumitra Shewale"
          title="Secretary"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/36817910?v=4"
          slot="alumni"
        />
        <MemberCard
          href="/test"
          name="Dharanikanth Reddy Yerasi"
          title="Member"
          highlightedBadges={["2021"]}
          badges={["web dev", "automation"]}
          imageURL="https://avatars.githubusercontent.com/u/77240155?v=4"
          slot="alumni"
        />
      </MemberCardTabs>
    </div>
    <div
      class="absolute bottom-4 w-full snap-center text-center text-sm sm:text-lg"
    >
      <span class="text-foreground">© 2023 CRUx. Made by</span>
      <span class="text-primary">CRUx Members</span>
    </div>
  </main>
</Layout>
