---
import Divider from "../components/Divider.astro";
import Navbar from "../components/Navbar.astro";
import Carousel from "../components/Carousel.svelte";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Logo from "../../public/logoMainPage.svg?raw";

const constructCarouselData = (usernames: string[]) =>
  usernames.map((username) => {
    return {
      href: `https://github.com/${username}`,
      imageURL: `https://github.com/${username}.png?size=48`,
    };
  });
---

<!-- TODO: make this all decently responsive -->
<Layout title="Projects">
  <div class="fixed left-0 top-0 size-full bg-background"></div>
  <div class="fixed -right-24 -top-16 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <div class="fixed -bottom-20 -left-20 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <main id="main" class="relative pb-28">
    <Navbar />
    <div class="flex w-full flex-col items-center">
      <div
        class="flex h-fit w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)] landscape:thin:h-[50dvw]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >ChronoFactorem</span
              >
              <a
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                href="https://www.chrono.crux-bphc.com/"
                target="_blank">link</a
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              >Your friendly neighbourhood web app that helps you create, search
              and manage draft timetables.</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-8 sm:pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 -ml-2 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={constructCarouselData([
                "soumitradev",
                "skoriop",
                "majimearun",
                "JustAGhost23",
                "Anurav-Garg",
                "pnicto",
                "Samirkhairati",
                "NamitBhutani",
                "Chaitanya-Keyal",
                "kishan1735",
                "Shre-D",
                "divok11231",
                "palaniappan-r",
              ])}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center ml-4 sm:ml-20 pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/chrono.png"
            class="sm:mt-14 h-fit aspect-auto"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />
      <div
        class="flex h-[calc(55dvh)] w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)] landscape:thin:h-[50dvw]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >Rideshare</span
              >
              <a
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                href="https://play.google.com/store/apps/details?id=com.crux_bphc.rideshare"
                target="_blank">link</a
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              >A cab-sharing app that helps you find rides from and to common
              destinations around BPHC.</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 -ml-2 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={constructCarouselData([
                "palaniappan-r",
                "atrey-a",
                "Shre-D",
                "MaitreyaManohar",
                "shoebum-goyell",
              ])}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center sm:justify-end gap-5 sm:gap-10 pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/rideshare1.png"
            class="w-1/3 sm:max-w-1/3 max-h-fit aspect-auto"
          />
          <img
            src="/rideshare2.png"
            class="w-1/3 sm:max-w-1/3 max-h-fit aspect-auto"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />
      <div
        class="flex h-fit w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)] landscape:thin:h-[50dvw]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >BitsGPT</span
              >
              <a
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                href="https://github.com/crux-bphc/bits-gpt"
                target="_blank">link</a
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              ><i>(beta)</i> Your campus buddy chatbot for advice, resources and
              making student life easier.</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-8 sm:pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 -ml-2 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={constructCarouselData([
                "CWSwastik",
                "OpexRah",
                "Chaitanya-Keyal",
              ])}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center ml-4 sm:ml-20 pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/bitsgpt.png"
            class="sm:mt-14 h-fit aspect-auto"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />

      <Footer />
    </div>
  </main>
</Layout>
