---
import Divider from "../components/Divider.astro";
import Navbar from "../components/Navbar.astro";
import Carousel from "../components/Carousel.svelte";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Logo from "../../public/logoMainPage.svg?raw";
---

<Layout title="CRUx BPHC - Projects">
  <div class="fixed left-0 top-0 size-full bg-background"></div>
  <div class="fixed -right-24 -top-16 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <div class="fixed -bottom-20 -left-20 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <main id="main" class="relative pb-28">
    <Navbar />
    <div class="flex w-full flex-col items-center">
      <div
        class="flex h-[calc(45dvh)] w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >sorter</span
              >
              <span
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                >link</span
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              >Face ID and clustering to retrieve your snaps from campus events</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={[
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/36817910?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/77240155?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/33770878?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/116057817?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/65390427?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/104909040?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/60971499?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/112821423?v=4&size=48",
                },
              ]}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/mockup1.png"
            class="h-44 w-32 sm:h-44 sm:w-32 md:h-80 md:w-56 lg:h-[28rem] lg:w-80 xl:h-[36rem] xl:w-[25rem]"
          />
          <img
            src="/mockup2.png"
            class="-ml-4 h-44 w-32 sm:h-44 sm:w-32 md:-ml-8 md:h-80 md:w-56 lg:-ml-12 lg:h-[28rem] lg:w-64 xl:h-[36rem] xl:w-80"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />
      <div
        class="flex h-[calc(45dvh)] w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >sorter</span
              >
              <span
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                >link</span
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              >Face ID and clustering to retrieve your snaps from campus events</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={[
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/36817910?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/77240155?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/33770878?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/116057817?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/65390427?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/104909040?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/60971499?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/112821423?v=4&size=48",
                },
              ]}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/mockup1.png"
            class="h-44 w-32 sm:h-44 sm:w-32 md:h-80 md:w-56 lg:h-[28rem] lg:w-80 xl:h-[36rem] xl:w-[25rem]"
          />
          <img
            src="/mockup2.png"
            class="-ml-4 h-44 w-32 sm:h-44 sm:w-32 md:-ml-8 md:h-80 md:w-56 lg:-ml-12 lg:h-[28rem] lg:w-64 xl:h-[36rem] xl:w-80"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />
      <div
        class="flex h-[calc(45dvh)] w-full flex-col justify-between sm:h-[calc(36dvh)] sm:flex-row md:h-[calc(54dvh)] lg:h-[calc(76dvh)] xl:h-[calc(100dvh-4rem)]"
      >
        <div
          class="flex size-full flex-col justify-between px-4 pt-8 text-foreground sm:w-1/2 sm:pl-16 sm:pr-8 sm:pt-16 lg:w-2/5 lg:pl-28 lg:pt-36"
        >
          <div class="flex flex-col">
            <div class="flex items-center">
              <span class="text-3xl font-bold md:text-4xl xl:text-6xl"
                >sorter</span
              >
              <span
                class="material-symbols-rounded pl-2 pt-2 text-3xl font-bold text-primary md:text-4xl xl:text-6xl"
                >link</span
              >
            </div>
            <span
              class="pt-4 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl"
              >Face ID and clustering to retrieve your snaps from campus events</span
            >
          </div>
          <div
            class="flex w-full justify-center pb-8 pt-4 sm:block sm:w-96 sm:pb-16 sm:pt-0 md:-ml-8 lg:-ml-12 lg:pb-24 xl:ml-0"
          >
            <Carousel
              client:visible
              images={[
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/36817910?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/77240155?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/33770878?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/116057817?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/65390427?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/104909040?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/60971499?v=4&size=48",
                },
                {
                  href: "https://github.com/soumitradev",
                  imageURL:
                    "https://avatars.githubusercontent.com/u/112821423?v=4&size=48",
                },
              ]}
              size={8}
              smallSize={10}
              mediumSize={12}
              style="size-8 sm:size-10 md:size-12"
              maxElements={4}
            />
          </div>
        </div>
        <div class="flex justify-center pr-4 sm:pr-6 sm:pt-24 md:pr-10">
          <img
            src="/mockup1.png"
            class="h-44 w-32 sm:h-44 sm:w-32 md:h-80 md:w-56 lg:h-[28rem] lg:w-80 xl:h-[36rem] xl:w-[25rem]"
          />
          <img
            src="/mockup2.png"
            class="-ml-4 h-44 w-32 sm:h-44 sm:w-32 md:-ml-8 md:h-80 md:w-56 lg:-ml-12 lg:h-[28rem] lg:w-64 xl:h-[36rem] xl:w-80"
          />
        </div>
      </div>
      <Divider style="sm:w-10/12 w-11/12 lg:w-11/12 mt-8 border-dashed" />

      <Footer />
    </div>
  </main>
</Layout>
