---
import { Image } from "astro:assets";

import Badge from "./Badge.astro";

interface Props {
  imageURL: string;
  href: string;
  people: number;
}

const { imageURL, href, people } = Astro.props;

const containerStyles =
  "w-[88vw] flex flex-row lg:flex-col lg:w-[18vw] m-4 lg:m-5 ";
---

<div
  class=`${containerStyles} items-center justify-center rounded-xl border-y-2 border-b-border-gradient-2/10 border-t-border-gradient-1/10 bg-gradient-to-br from-glass-gradient-1/60 from-0% via-glass-gradient-2/60 via-90% to-glass-gradient-3/60 to-100% text-foreground shadow-lg`
>
  <Image
    src={imageURL}
    class="rounded-3xl py-8 pl-8 lg:px-4"
    alt="Our Achievement"
    width={200}
    height={200}
    loading="lazy"
  />

  <div class="p-4 lg:px-4 lg:pt-0">
    <p class="flex justify-center text-6xl">
      {people}
    </p>
    <p class="py-4">
      <a href={href} target="_blank">
        <Badge
          style="bg-badge text-2xl mt-4 text-purple rounded-3xl shadow-xl"
          text="more"
        />
      </a>
    </p>
  </div>
</div>
