<div
  class="absolute bottom-4 w-full snap-center text-center text-sm sm:text-lg"
>
  <span class="text-foreground">© 2024 CRUx. Made by</span>
  <span class="text-primary">CRUx Members</span>
</div>
