---

---

<div class="flex items-center justify-center">
  <div
    class="flex h-fit w-5/6 flex-row items-center justify-between rounded-xl border-y-2 border-b-border-gradient-2/10 border-t-border-gradient-1/10 bg-gradient-to-br from-glass-gradient-1/60 from-0% via-glass-gradient-2/60 via-90% to-glass-gradient-3/60 to-100% py-32 text-foreground shadow-lg"
  >
    <div
      class="flex w-1/2 flex-col items-start justify-between space-y-4 pl-28"
    >
      <div class="pl-8">
        <span class="text-5xl font-bold">Meet the team</span>
      </div>
      <p class="text-wrap text-xl">
        Soumitra, Kovid, Shreyash, Arunachala, Mudit, Varun, Sarthak, Anurav,
        more...
      </p>
    </div>
    <div
      class="flex w-1/2 flex-col items-center justify-between space-y-4 px-20"
    >
      <img src={"https://dummyimage.com/16:10x1200"} class="h-4/5 rounded-xl" />
    </div>
  </div>
</div>
