---
import Menu from "./Menu.svelte";
import Logo from "../../public/logoMainPage.svg?raw";
---

<div
  class="sticky top-0 z-40 h-16 w-full select-none bg-navbar font-bold text-foreground-muted md:text-xl lg:text-2xl"
>
  <div class="absolute left-8 top-0 flex h-16 items-center lg:left-16">
    <div class="size-8 lg:size-12">
      <a
        href="/"
        class="text-foreground-muted transition-all duration-200 hover:text-white"
      >
        <Fragment set:html={Logo} /></a
      >
    </div>
  </div>
  <div
    class="hidden h-full items-center justify-center space-x-8 sm:flex md:space-x-12 lg:space-x-18 xl:space-x-32"
  >
    {
      Astro.url.pathname === "/projects" ? (
        <span class="text-light-blue">Projects</span>
      ) : (
        <a
          class="text-foreground-muted transition-all duration-200 hover:text-light-blue hover:underline"
          href="/projects"
        >
          Projects
        </a>
      )
    }
    {
      Astro.url.pathname === "/members" ? (
        <span class="text-orange">Members & Alumni</span>
      ) : (
        <a
          class="text-foreground-muted transition-all duration-200 hover:text-orange hover:underline"
          href="/members"
        >
          Members & Alumni
        </a>
      )
    }
    {
      Astro.url.pathname === "/blog" ? (
        <span class="text-primary">Blog</span>
      ) : (
        <a
          class="text-foreground-muted transition-all duration-200 hover:text-primary hover:underline"
          href="/blog"
        >
          Blog
        </a>
      )
    }
  </div>
  <div
    class="absolute right-8 top-0 flex h-16 items-center sm:hidden lg:left-16"
  >
    <Menu client:only="svelte" />
  </div>
</div>
