---
interface Props {
  year: string;
  style?: string;
}

const { year, style } = Astro.props;

const digits = year.split("");
---

<div class=`flex flex-row items-center space-x-4 ${style}`>
  {
    digits.map((digit) => (
      <div class="mx-1 rounded-xl border-y-2 border-b-border-gradient-2/10 border-t-border-gradient-1/10 bg-gradient-to-br from-glass-gradient-1/60 from-0% via-glass-gradient-2/60 via-90% to-glass-gradient-3/60 to-100% px-2 py-1 text-6xl text-foreground shadow-lg sm:text-8xl">
        <span>{digit}</span>
      </div>
    ))
  }
</div>
