---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The Programming and Computing Club of BITS Pilani, Hyderabad Campus. Dedicated to bettering computing skill on campus by developing open-source software, participating in Competitive Programming and Capture-The-Flag events."
    />

    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="CRUx BPHC" />
    <meta property="og:url" content="https://crux-bphc.com" />
    <meta
      property="og:description"
      content="CRUx BPHC - The Programming and Computing Club of BITS Pilani, Hyderabad Campus"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://crux-bphc.com/crux.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="CRUx BPHC" />
    <meta
      name="twitter:description"
      content="CRUx BPHC - The Programming and Computing Club of BITS Pilani, Hyderabad Campus"
    />
    <meta name="twitter:image" content="https://crux-bphc.com/crux.png" />

    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body style="bg-background">
    <slot />
  </body>
</html>
<style>
  html {
    font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }
</style>
